
# Head over to livekit's official website and create your free api keys and paste here!

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Head over to google ai studio and create your free api keys and paste here!
GOOGLE_API_KEY=

# Enter your dobot port here
DOBOT_PORT=


